<!-- todo.component.html -->
<div>
    <h2>Todo List</h2>
    <input type="text" [(ngModel)]="newTodoTitle" placeholder="Add a new todo">
    <button (click)="addTodo()">Add</button>
  
    <ul>
      <li *ngFor="let todo of todos$ | async">
        <input type="checkbox" [checked]="todo.completed" (change)="updateTodoStatus(todo)">
        <span [ngClass]="{ 'completed': todo.completed }">{{ todo.title }}</span>
        <button (click)="deleteTodo(todo.id)">Delete</button>
      </li>
    </ul>
  </div>
  